:root {
    --primary-color: #cf2020;
    --secondary-color: #000000;
    --accent-color: #ffffff;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: -2;
    pointer-events: none;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: -1;
    pointer-events: none;
    animation: gradientMove 15s ease infinite;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 6%;
    padding: 1.5rem 1rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    z-index: 999;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    padding: 5px;
}

.logo-img {
    background-size: cover;
    height: 80px;
    width: auto;
    border-radius: 175px;
    transition: all 0.4s ease;
    filter: drop-shadow(0 0 8px rgb(252, 0, 0));
    gap: 5;
    will-change: transform;
    transform: translateZ(0);
}

.logo-img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 12px rgba(139, 0, 0, 0.5));
}

.nav-links {
    display: flex;
    padding: 0%;
    gap: 90px;
    list-style: none;
}

.nav-links li {
    position: relative;
}


.nav-links a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 8px 15px;
    position: relative;
    font-weight: 700;
    transition: all 0.3s ease;
}

.nav-links a::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

.nav-links a::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: var(--primary-color);
}

/* Add active state for current section */
.nav-links a.active {
    color: var(--primary-color);
}

.nav-links a.active::before,
.nav-links a.active::after {
    width: 50%;
}

/* Book Table
.button {
    position: fixed;
    top: 40px;
    left: 68%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #ff0000;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    z-index: 1000;
}

.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.button:hover .icon {
    transform: translate(4px);
}

.button:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

/* Modal Container 
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}


.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    top: 7%;
    left: 36%;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    margin: 0;
    font-size: 24px;
    color: #000000;
}

.close-modal {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.close-modal:hover {
    color: #ff0000;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-form label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.modal-form input,
.modal-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

.select-container {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.select-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.select-container select:focus {
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.select-container select option {
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.select-container select option:hover {
    background-color: #f0f0f0;
}

.select-container select option:checked {
    background-color: #ccc;
}

.select-container::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #ccc transparent transparent transparent;
    pointer-events: none;
}

.select-container select:focus::after {
    border-color: #aaa transparent transparent transparent;
}


@media (max-width: 768px) {
    .select-container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .select-container {
        width: 100%;
        margin-bottom: 10px;
    }
}

.modal-form input:focus,
.modal-form textarea:focus {
    border-color: #ff0000;
}

.modal-form button[type="submit"] {
    background-color: #ff0000;
    color: #fff;
    width: 100px !important;
    margin-left: 36% !important;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-form button[type="submit"]:hover {
    background-color: #cc0000;
}

@media (max-width: 480px) {
    .modal {
        width: 95%;
        padding: 15px;
    }

    .modal-header h2 {
        font-size: 20px;
    }

    .modal-form input,
    .modal-form textarea {
        font-size: 12px;
    }

    .modal-form button[type="submit"] {
        font-size: 14px;
    }
} */

/* Cart Icon Styling */
.cart-icon {
  position: fixed;
  display: inline-block;
  top: 50px;
  left: 61%;
  z-index: 1000;
}

.cart-icon a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.cart-dropdown {
    position: fixed;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: 400px;
    height: 93% !important;
    top: 5%;
    right: 2%;
    border-radius: 20px;
    z-index: 1000;
    overflow: auto;
    display: none;
    transition: 0.5s;
}

.cart-dropdown.active {
    display: block;
}

.cart-header {
    display: flex;
    padding: 10px 158px;
    position: relative;
    justify-items: center;
    align-items: center;
    border-bottom: #fff solid 1px;
}

.cart-header h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.close-btn {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

.cart-items {
    align-items: center;
    margin-top: 20px;
}

.cart-items img {
    width: 70px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}

.cart-footer {
    align-items: center;
    padding: 10px;
}

.total-price {
    display: flex;
    border-top: 1px solid #ddd;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    margin-left: -10px;
    font-size: 15px;
    padding: 5px 50px;
}

.cart-footer button {
    display: flex;
    width: 90px;
    height: 40px;
    margin-left: 146px;
    background-color: #ff0000;
    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  gap: 5px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  border: #fff solid 1px;
  border-radius: 5px;
  padding: 0 5px;
}

.quantity-controls button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.quantity {
  margin: 0 10px;
  padding: 0 5px;
  border-left: #fff solid 1px;
  border-right: #fff solid 1px;
}


/* Responsive Styles for Mobile Devices */
@media (max-width: 768px) {
    /* Cart Icon */
    .cart-icon {
        left: 90%; /* Adjust position for smaller screens */
        top: 65px; /* Move closer to the top */
    }

    .cart-icon a {
        font-size: 20px; /* Reduce icon size */
    }

    .cart-count {
        font-size: 10px; /* Reduce count font size */
        padding: 1px 4px; /* Adjust padding */
    }

    /* Cart Dropdown */
    .cart-dropdown {
        width: 90%; /* Make dropdown full width */
        height: 80% !important; /* Adjust height */
        top: 10%; /* Adjust position */
        right: 5%; /* Center horizontally */
        border-radius: 10px; /* Reduce border radius */
    }

    .cart-header {
        padding: 10px 20px; /* Reduce padding */
    }

    .cart-header h3 {
        font-size: 16px; /* Reduce header font size */
    }

    .close-btn {
        font-size: 24px; /* Reduce close button size */
    }

    /* Cart Items */
    .cart-items img {
        width: 50px; /* Reduce image size */
        height: 40px; /* Reduce image height */
    }

    .cart-item {
        padding: 5px; /* Reduce padding */
    }

    .quantity-controls button {
        font-size: 20px; /* Reduce button size */
    }

    .quantity {
        margin: 0 5px; /* Reduce margin */
        padding: 0 3px; /* Reduce padding */
    }

    /* Cart Footer */
    .total-price {
        font-size: 14px; /* Reduce font size */
        padding: 5px 20px; /* Adjust padding */
    }

    .cart-footer button {
        width: 80px; /* Reduce button width */
        height: 35px; /* Reduce button height */
        margin-left: auto; /* Center button */
        margin-right: auto; /* Center button */
        font-size: 14px; /* Reduce font size */
    }
}


/* Hero Section */

.hero-content {
    max-width: 700px;
    margin: 0 auto;
    padding: 80px;
    background-image: url('image/logo.png');
    background-color: #000000e8;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    border-radius: 15px;
    text-align: center;
}

.hero-content h1 {
     font-size: 4rem;
    margin-bottom: .8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    background: linear-gradient(45deg, #ffffff, #f91100);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-content p {
    font-size: 1.2rem;
    font-style: italic;
    color: var(--text-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Menu */ 
.card-container {
  margin: 40px auto;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Adjust minmax value for card size */
  gap: 50px; /* Space between cards */
  padding: 30px; /* Padding around the grid */
}

.card {
  border-radius: 8px; /* Optional: Rounded corners */
  overflow: hidden; /* Optional: Prevent overflow */
}

.card {
 width: 190px;
 height: 254px;
 padding: .8em;
 background: linear-gradient(315deg, #ff0000, #ff0000);
 position: relative;
 overflow: visible;
 border-radius: 10px;
box-shadow:  -11px 11px 89px #000000,
             11px -11px 89px #0000009b;
}

.card-img1 {
 background-image: url('./image/chickenshawarma.jpg');
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.card-img2 {
 background-image: url('./image/shawarma.webp');
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.card-img3 {
 background-image: url('./image/shawarmawithsalad.jpg');
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.card-img4 {
 background-image: url('./image/peanutmasala.jpg');
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.card-img5 {
 background-image: url('./image/mimisingju.jpg');
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.card-img6 {
 background-image: url('./image/friedmomos.jpg');
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.card-img7 {
 background-image: url('./image/kurkuremomos.jpg');
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.card-img8 {
 background-image: url('./image/shawarmawithfries.jpg');
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.card-img9 {
 background-image: url('./image/sandwich.jpg');
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.card-img10 {
 background-image: url('./image/frensfries.jpg');
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.card-img11 {
 background-image: url('./image/eggball.jpg');
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.card-img12 {
 background-image: url('./image/Momos.jpg');
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.card-img13 {
 background-image: url('./image/shawarmaplater.jpg');
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.card-img14 {
 background-image: url('./image/nachoshawarma.jpg');
 height: 40%;
 width: 100%;
 border-radius: .5rem;
 transition: .3s ease;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}


.card-info {
 padding-top: 10%;
}

svg {
 width: 20px;
 height: 20px;
}

.card-footer {
 position: absolute;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-top: 10px;
 border-top: 1px solid #ddd;
 bottom: 10px;
 left: 0;
}

/*Text*/
.text-title {
 font-weight: 800;
 font-size: 1em;
 line-height: 1.5;
}

.text-body {
 font-size: .7em;
 font-style: italic;
 padding-bottom: 10px;
}

/*Button*/
.card-button {
    position: absolute;
    right: 3px;
    border: 1px solid #ffffff;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

/*Hover*/
.card-img1:hover {
 transform: scale(1.3);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-img2:hover {
 transform: scale(1.3);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-img3:hover {
 transform: scale(1.3);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-img4:hover {
 transform: scale(1.3);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-img5:hover {
 transform: scale(1.3);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-img6:hover {
 transform: scale(1.3);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-img7:hover {
 transform: scale(1.3);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-img8:hover {
 transform: scale(1.3);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-img9:hover {
 transform: scale(1.3);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-img10:hover {
 transform: scale(1.3);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-img11:hover {
 transform: scale(1.3);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-img12:hover {
 transform: scale(1.3);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-img13:hover {
 transform: scale(1.3);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-img14:hover {
 transform: scale(1.3);
 box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
 border: 1px solid #ff0000;
 background-color: #ff0000;
}


/* Footer */
.footer {
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 50px 0;
    border-top: 1px solid var(--primary-color);
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.map-links {
    display: flex;
    gap: 60px;
    margin-right: 20px;
}

.map-links a {
    color: var(--text-color);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.map-links a:hover {
    color: var(--primary-color);
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links a {
    color: var(--text-color);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--primary-color);
}

/* Add specific style for copyright text */
.copyright {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-size: 1rem; /* Adjust size if needed */
}

.privacy-policy, .terms-conditions {
    text-align: center;
    margin-bottom: 0.3px;
    padding: 3px 0;
    font-size: 0.8rem; /* Adjust size if needed */
}

.made-by {
    text-align: center;
    margin-bottom: 0.3px;
    padding: 3px 0;
    font-size: 0.8rem; /* Adjust size if needed */
    color: inherit;
    text-decoration: none;
}

.made-by a {
    color: inherit;
    text-decoration: none;
}

html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.has-scroll-smooth body {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

[data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-section] {
    position: relative;
    overflow: hidden;
}

/* Remove any conflicting overflow properties */
body {
    overflow: auto;
    overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar width */
    background: transparent; /* Optional: remove background */
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    overflow-y: scroll; /* Allow vertical scrolling */
}

/* Media Queries for Responsive Design */

/* For tablets and small laptops (max-width: 1024px) */
@media (max-width: 1024px) {
    .navbar {
        width: 50%; /* Adjust navbar width */
        padding: 1rem; /* Adjust padding */
    }

    .hero-content {
        padding: 40px; /* Reduce padding */
        max-width: 90%; /* Allow more width */
    }

    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust card size */
    }

    .text-title {
        font-size: 1.5em; /* Adjust title size */
    }

    .text-body {
        font-size: 0.9em; /* Adjust body text size */
    }
}

/* For mobile devices (max-width: 768px) */
@media (max-width: 768px) {
    .navbar {
        padding: 0.5rem 1rem; /* Adjust padding */
    }

    .logo-img {
        width: 80px; /* Adjust logo size */
        height: 80px; /* Adjust logo size */
    }

    .nav-links {
        width: 100%;
        gap: 1rem; /* Adjust gap */
    }

    .nav-links a {
        font-size: 1rem; /* Adjust font size */
        padding: 0.3rem 0.5rem; /* Adjust padding */
        height: 50px;
    }

    .hero-content {
        padding: 20px; /* Reduce padding */
    }

    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Adjust card size */
    }
}

/* For very small devices (max-width: 480px) */
@media (max-width: 480px) {
    .navbar {
        width: 70%; /* Full width */
        height: 50px;
        background: #ffffff;
    }

    .nav-links {
        gap: 6rem; /* Adjust gap */
    }

    .nav-links a {
        font-size: 1.5rem; /* Adjust font size */
        font-weight: 700;
        padding: 0.2rem 0.4rem; /* Adjust padding */
        color: #000000;
    }

    .hero-content {
        margin-top: 140px;
        padding: 6px; /* Reduce padding */
    }

    .card-container {
        grid-template-columns: 1fr 1fr; /* Single column layout */
        margin-left: -20px;
        gap: 30px;
    }

    .text-title {
        font-size: 1.2em; /* Adjust title size */
    }

    .text-body {
        font-size: 0.8em; /* Adjust body text size */
    }
}